@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

* {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

body {
  font-size: 28px;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --neon-light-green : hsl(150, 100%, 76%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}
